/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body, html {
  background: transparent;
  font-size: 6px;
/*   padding: 4rem 2rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Sans', sans-serif;
}
@media (min-width: 860px) {
  body, html {
    font-size: 8px;
/*     padding: 3rem 5rem; */
  }
}
@media (min-width: 1200px) {
  body, html {
    font-size: 10px;
/*     padding: 2rem 3rem; */
  }
}

a {
	text-decoration: none;
}

a:hover, a:focus, a:active {
	cursor: pointer;
	text-decoration: none;
}

.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-top: 2rem;
}
.header-wrapper .header {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem;
}
.header-wrapper .menu-wrapper {
  position: relative;
  float: left;
  display: block;
  cursor: pointer;
  width: 2.5rem;
  height: 3rem;
  right: 0;
  margin: 0;
  text-align: left;
  margin-left: 3rem;
}
.header-wrapper .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.header-wrapper .menu-hamburger {
  position: relative;
  width: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  background: white;
  height: 1px;
  cursor: pointer;
  right: 0;
  top: 1rem;
}
.header-wrapper .menu-hamburger::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  background: white;
  position: absolute;
  top: -0.8rem;
  left: 0;
}
.header-wrapper .menu-hamburger::after {
  content: "";
  width: 2rem;
  height: 1px;
  background: white;
  position: absolute;
  top: 0.8rem;
  left: 0;
}
.header-wrapper .nav-wrapper {
  position: relative;
  float: right;
}
.header-wrapper nav {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  font-weight: 700;
  color: white;
}
.header-wrapper nav ul {
  padding: 0;
  display: block;
  list-style: none;
}
.header-wrapper nav ul:after {
  content: "";
  display: table;
  clear: both;
}
.header-wrapper nav li {
  float: left;
  margin: 0 1.2rem;
}
.header-wrapper nav li:last-child {
  margin-left: 0;
}

.lines-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
.lines-wrapper span.vertical {
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  top: 12%;
  left: 0;
  z-index: 1;
  opacity: 0.05;
}
.lines-wrapper .croses span {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 11%;
  left: calc(20% - 2px);
}
.lines-wrapper .croses span:nth-child(2) {
  left: calc(40% - 2px);
}
.lines-wrapper .croses span:nth-child(3) {
  left: calc(60% - 2px);
}
.lines-wrapper .croses span:nth-child(4) {
  left: calc(80% - 2px);
}
.lines-wrapper span.horizontal {
  position: absolute;
  width: 1px;
  height: 100%;
  background: white;
  z-index: 1;
  left: 20%;
  opacity: 0.05;
}
.lines-wrapper span.horizontal:nth-child(2) {
  left: 40%;
}
.lines-wrapper span.horizontal:nth-child(3) {
  left: 60%;
}
.lines-wrapper span.horizontal:nth-child(4) {
  left: 80%;
}

.slider-content {
  position: relative;
/*   max-width: 112rem; */
/*   min-width: 480px; */
  background: #fff;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}
.slider-content .slider-container {
  position: relative;
/*   height: 70rem; */
  height: 100vh;
}
.slider-content .slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider-content .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-size: auto 125%;
  background-position: 0px -45px;
  background-repeat: no-repeat;
  opacity: 0;
}
.slider-content .slide:after {
  content: "";
  display: table;
  clear: both;
}
.slider-content .slide.active {
  opacity: 1;
  z-index: 50;
}
.slider-content .slide.next {
  opacity: 1;
}
.slider-content .slide.red {
/*   background-color: #EE4654; */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+49,ffcdd3+61,b88be0+77,5727f2+100 */
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(left,  #ededed 49%, #ffcdd3 61%, #b88be0 77%, #5727f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ededed 49%,#ffcdd3 61%,#b88be0 77%,#5727f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ededed 49%,#ffcdd3 61%,#b88be0 77%,#5727f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#5727f2',GradientType=1 ); /* IE6-9 */
}
.slider-content .slide.blue {
  background-color: #d1d1d1;
}
.slider-content .slide.green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,ffe2e5+21,d2b5ef+49,9b7afb+100 */
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(left,  #f5f5f5 0%, #ffe2e5 21%, #d2b5ef 49%, #9b7afb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #f5f5f5 0%,#ffe2e5 21%,#d2b5ef 49%,#9b7afb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #f5f5f5 0%,#ffe2e5 21%,#d2b5ef 49%,#9b7afb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#9b7afb',GradientType=1 ); /* IE6-9 */
}
.slider-content .slide.grey {
  background-color: #a798ae;
}
.slider-content .canvas {
  position: absolute;
  left: 0px;
  top: -70px;
}
.slider-content .fake-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-size: auto 125%;
  background-position: 0px -45px;
  background-repeat: no-repeat;
}
.slider-content .fake-bg.red {
/*   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/karlie-kloss.png); */
/*   background-color: #EE4654; */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffcdd3+27,b88be0+55,5727f2+100 */
}
.slider-content .fake-bg.blue {
/*   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/aline-weber_copy.png); */
	background-image: url('../img/devpg-bg2.jpg');
  background-color: #E6E6E6;
}
/*
.slider-content .fake-bg.green {
	background: #ededed;
}
*/
.slider-content .fake-bg.grey {
  background-image: url('../img/mer-1.png');
  background-color: #bcbcbc;
}
.slider-content .image-mask {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 125%;
  overflow: hidden;
}
.slider-content .image-mask img {
  position: absolute;
  display: block;
  width: auto;
  height: 100%;
  top: -45px;
}
.slider-content .mask-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: -5rem;
}
.slider-content .mask-animation img.clip {
  width: 100%;
  clip-path: url(#svgPathBig);
}
.slider-content .image-caption {
  position: absolute;
  color: white;
  transform: rotate(-90deg);
  top: 20rem;
  left: 12rem;
  font-size: 1.3rem;
  z-index: 10;
  clip: rect(0rem, 21rem, 12rem, 0px);
  display: inline-block;
  transition: all 0.3s ease;
}
.slider-content .image-caption.mask-up {
  clip: rect(0rem, 0rem, 12rem, 0px);
}
.slider-content .image-caption.mask-down {
  clip: rect(0rem, 21rem, 2rem, 200px);
}
.slider-content .image-caption span {
  display: inline-block;
  vertical-align: top;
}
.slider-content .image-caption .line {
  position: relative;
  background: white;
  height: 1px;
  width: 5rem;
  top: 1rem;
}
.slider-content .title-background {
  position: absolute;
  font-size: 25rem;
  top: 8rem;
  left: 4rem;
  color: black;
  opacity: 0.03;
  text-align: right;
}
.slider-content .title-background span.mask-wrap {
  display: block;
  height: 25rem;
  position: relative;
}
.slider-content .title-background span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0rem, 120rem, 25rem, 0px);
  transition: all 0.3s ease-in;
}
.slider-content .title-background span.mask-wrap:last-child span.mask {
  transition-delay: 0.15s;
}
.slider-content .title-background span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 120rem, 0rem, 0px);
}
.slider-content .title-background span.mask-wrap.mask-down span.mask {
  clip: rect(25rem, 44rem, 25rem, 0px);
}
.slider-content .title-wrapper {
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
/*   text-align: right; */
  margin-top: 45%;
  z-index: 5;
}
@media all and (min-width: 1200px) {
	.slider-content .title-wrapper {
		margin-top: 12%;
	}
}

.slider-content .title-wrapper h1 {
  font-size: 12rem;
  margin: 0;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: right;
  margin-left: 5rem;
}
.slider-content .title-wrapper h1 span.mask-wrap {
  display: block;
  height: 12rem;
  position: relative;
}
.slider-content .title-wrapper h1 span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  right: 0;
  clip: rect(0rem, 48rem, 12rem, 0px);
  transition: all 0.3s ease-in;
}
.slider-content .title-wrapper h1 span.mask-wrap:last-child span.mask {
  transition-delay: 0.15s;
}
.slider-content .title-wrapper h1 span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 44rem, 0rem, 0px);
}
.slider-content .title-wrapper h1 span.mask-wrap.mask-down span.mask {
  clip: rect(12rem, 44rem, 12rem, 0px);
}

.brain span.mask {
	transition: all 0.3s ease-in;
	transition-delay: 0.15s;
}

.slider-content .brain.fadeout span.mask {
	opacity: 1;
}

.slider-content .brain.fadein span.mask {
	opacity: 0;
}


.slider-content .title-wrapper span.gallery {
  position: relative;
  text-align: right;
  padding: 0 2rem;
  cursor: pointer;
  margin-right: 5rem;
}
.slider-content .title-dd .work span.mask::before {
  content: "";
  position: absolute;
  left: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  background: white;
  top: -0.5rem;
  opacity: 0.9;
}
.slider-content .title-dd .work span.mask::after {
  content: "";
  position: absolute;
  right: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  background: white;
  top: -0.5rem;
  opacity: 0.9;
}

.control-nav {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.control-nav ul {
  position: relative;
  list-style: none;
  padding: 0;
}
.control-nav li {
  position: relative;
  margin: 0.2rem 0;
  opacity: 0.5;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
}
.control-nav li.active {
  opacity: 1;
}
.control-nav li.active .line {
  transform: translateX(-1.2rem);
  width: 1.8rem;
}
.control-nav li.active .number {
  opacity: 1;
}
.control-nav .line {
  width: 1.5rem;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background: white;
  left: -1rem;
  transition: all 0.3s ease;
}
.control-nav .number {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.social-icons {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: 999;
}
.social-icons ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons ul li {
  position: relative;
  display: block;
  padding: 0.3rem 0;
}
.social-icons ul a {
  display: block;
  width: 2rem;
  height: 2rem;
}
.social-icons ul a svg {
  fill: white;
  display: block;
  width: 100%;
  height: 100%;
}

.footer-wrapper {
  position: absolute;
  color: white;
  bottom: 0rem;
  right: 0rem;
  width: 60%;
  height: 6rem;
  z-index: 999;
}
.footer-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 100%;
}
.footer-wrapper ul:after {
  content: "";
  display: table;
  clear: both;
}
.footer-wrapper li {
  position: relative;
  float: left;
  width: 20%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding-top: 2.3rem;
}
.footer-wrapper li:last-child {
  border: none;
}
.footer-wrapper li.active .hover-box {
  opacity: 1;
  transform: scale(1.15);
}
.footer-wrapper li .hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9A64E7;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 1;
}
.footer-wrapper li .box-content {
  position: relative;
  z-index: 5;
}

.home canvas {
	display: none;
}


/* brain svg- full */

use,
.ani {
  animation: waves 60s linear infinite;
}

@keyframes waves {
  0% {
    stroke-dasharray: 120 20;
  }
  100% {
    stroke-dasharray: 120 20;
    stroke-dashoffset: 12000;
  }
}

.brain-full svg {
	position: absolute;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  top: 5%;
  opacity: .1;
  height: 78vh;
}

.home-devbg {
	height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 51%;
}

.home-devbg img {
	opacity: 0.05;
  width: 100%;
  height: auto;
  margin-left: -65px;
}


.slider-content .home-title-wrapper {
	background-color: rgba(255, 255, 255, 0.13);
	border: solid 20px rgba(255, 255, 255, 0.78);
}

.home-box span.mask-homebox .home-title-wrapper {
	transition: all 0.3s ease-in;
	transition-delay: 0.15s;
}

.slider-content .home-box.fromright span.mask-homebox .home-title-wrapper {
/*
	animation-name: fromright;
	animation-duration: 1s;
*/
	opacity: 0;
}

@keyframes fromright {
	0% {
		opacity 0;
		animation-timing-function: ease-out;
	}
	100% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
}

.slider-content .home-box.toleft span.mask-homebox .home-title-wrapper {
/*
	animation-name: toleft;
	animation-duration: 1s;
*/
	transform: translate3d(-150%, 0px, 0px);
	opacity:0;
}

@keyframes toleft {
	0% {
		transform: translate3d(0px, 0px, 0px);
		animation-timing-function: ease-out;
	}
	99% {
		opacity: 1;
		border: solid 20px rgba(255, 255, 255, 0.78);
	}
	100% {
		transform: translate3d(-150%, 0px, 0px);
		animation-timing-function: ease-out;
		opacity: 0;
		border: none;
	}
}

.slider-content .home-title-wrapper h1 {
	font-size: 8rem;
	margin-left: 0px;
}

.mask-2 {
	font-size: 2rem;
}

.slider-content .title-wrapper h1 span.mask-wrap span.mask-main, .slider-content .title-wrapper h1 span.mask-wrap span.mask-2 {
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	width: 100%;
	clip: rect(0rem, 70rem, 12rem, 0px);
	color: #565656;
}

.slider-content .title-wrapper h1 span.mask-2-wrap {
	height: 6rem;
}

.mask-main {
	margin-top: 30px;
}

.brain-left {
	position: absolute;
	right: 0;
}

.brain-left svg {
	float: right;
	height: 90vh;
	width: auto;
	opacity: 0.1;
}

.slider-content .dev-title h1 span.mask-wrap span.mask {
	left: 0;
	right: auto;
}

.slider-content .dev-title h1 span.mask-wrap span.mask-web {
	left: 101px;
}

.slider-content .dev-title .work {
	font-size: 16px;
	color: #000;
	font-weight: 900;
	text-align: left;
	margin-left: 270px;
  padding-top: 21px;
  display: block;
}

.work span {
	padding: 0 20px;
	font-size: 14px;
}

/*

.brain span.mask {
	transition: all 0.3s ease-in;
	transition-delay: 0.15s;
}

.slider-content .brain.fadeout span.mask {
	opacity: 1;
}

.slider-content .brain.fadein span.mask {
	opacity: 0;
}
*/


.work span.mask {
	transition: all 0.3s ease-in;
	transition-delay: 0.15s;
		display: block;
		opacity: 1;
}

.slider-content .work.fadein-from-right span.mask {
	opacity: 0;
}

@keyframes fadein-from-right {
	0% {
		transform: translate3d(60%, 0px, 0px);
		opacity: 0;
	}
	100% {
		transform: translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

.slider-content .work.work-toleft span.mask {
	transform: translate3d(-150%, 0px, 0px);
	opacity:0;
}

.slide-design .canvas {
	display: none;
}

.slide-design .work .mask {
	color: #fff;
	font-weight: bold;
}

.slider-content .design-boxes span.mask div {
	transition: all 0.3s ease-in;
	transition-delay: 0.8s;
	display: block;
}

.slider-content .design-boxes span.mask .d-box3 {
	transition: all 1s ease-in;
	transition-delay: 0.8s;
	left: 150%;
	opacity: 0;
}

.slider-content .design-boxes span.mask .d-box1, .slider-content .design-boxes span.mask .d-box2 {
	transition: all 1s ease-in;
	transition-delay: 0.8s;
	left: 150%;
	opacity: 0;
}

.slider-content .design-boxes.boxes-in span.mask .d-box3 {
	transition: all 1s ease-in;
	transition-delay: 0.8s;
	left: 67%;
	opacity: 1;
	right: 19%;
}

.slider-content .design-boxes.boxes-in span.mask .d-box1 {
	transition: all 1s ease-in;
	transition-delay: 0.8s;
	left: 44%;
	opacity: 1;
}

.slider-content .design-boxes.boxes-in span.mask .d-box2 {
	transition: all 1s ease-in;
	transition-delay: 0.8s;
	left: 34%;
	opacity: 1;
}

.slider-content .design-boxes.boxes-out span.mask .d-box3, .slider-content .design-boxes.boxes-out span.mask .d-box2, .slider-content .design-boxes.boxes-out span.mask .d-box1 {
	transition: all 0.3s ease-in;
	transition-delay: 0.15s;
	left: -20%;
	opacity: 0;
}

/*
.slider-content .design-boxes.boxes-out span.mask {
	right: 100%;
}
*/

.d-box1 {
	background-color: rgba(245, 109, 142, 0.4);
	width: 400px;
	height: 455px;
	position: absolute;
	left: 44%;
	top: 12%;
}
.d-box2 {
	background-color: rgba(242, 79, 156, 0.4);
	position: absolute;
	height: 75px;
	width: 275px;
	top: 16%;
	left: 34%;
}
.d-box3 {
	background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  height: 157px;
  width: 166px;
  top: 62%;
  right: 19%;
}

.slider-content .title-wrapper h1 span.mask-wrap span.mask-digital {
	font-size: 72px;
	right: 10px;
}

.slider-content .title-dd h1 span.mask-wrap {
	height: 10rem;
}

.slider-content .title-dd span.work {
	position: absolute;
	text-align: right;
	margin-right: 5rem;
	top: 129%;
	left: 44%;
	font-size: 14px;
}

.slider-content .title-bg-dd span.mask-wrap span.mask {
	clip: rect(0rem, 120rem, 32rem, 0px);
}

.slider-content .make-digital {
	right: 14px;
}

.brain-right {
	position: absolute;
}
.brain-right svg {
  height: 90vh;
  margin-top: 10%;
  opacity: 0.15;
  margin-left: -16%;
}

/* web dev page styles */

#webdev {
	background-color: #E6E6E6;
}

#webdev h1 {
	font-weight: 900;
	margin-top: 8rem;
	margin-bottom: 8rem;
}

.back {
	font-weight: 900;
	color: #fff;
}

/* design page styles */

#design {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe2e5+0,d2b5ef+40,9b7afb+100 */
	background: #ffe2e5; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffe2e5 0%, #d2b5ef 40%, #9b7afb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffe2e5 0%,#d2b5ef 40%,#9b7afb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffe2e5 0%,#d2b5ef 40%,#9b7afb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe2e5', endColorstr='#9b7afb',GradientType=1 ); /* IE6-9 */
}

#design h1 {
	color: #fff;
	font-weight: 900;
	margin-top: 8rem;
	margin-bottom: 8rem;
}

.content--c8 .tilter__deco--overlay {
	background-image: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d089cb+0,405bd5+100&0.8+0,0.4+0,0.6+100 */
	background: -moz-linear-gradient(top,  rgba(208,137,203,0.4) 0%, rgba(64,91,213,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(208,137,203,0.4) 0%,rgba(64,91,213,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(208,137,203,0.4) 0%,rgba(64,91,213,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66d089cb', endColorstr='#99405bd5',GradientType=0 ); /* IE6-9 */
}

/* SUGAR BLISS PAGE STYLES */

#sugarbliss {
	background-color: #FFE5E7;
	color: #562a0d;
}

.sb-header {
	background-image: url("../img/sugarbliss/sbp_header.jpg");
	background-size: 100% auto;
}

.sbp-logo {
	padding-top: 100px;
	padding-bottom: 100px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.sb-intro-cont {
	background-image: url("../img/sugarbliss/background-round.svg");
	background-size: 100% auto;
	text-align: center;
	background-position-y: bottom;
	background-repeat: no-repeat;a
}

#sugarbliss a {
	color: #562a0d;
	font-weight: 900;
}

.line {
	width: 120px;
	border-bottom: solid 3px #562a0d;
	display: block;
	margin: auto;
}

.sb-font {
	font-family: 'Sacramento', cursive;
}

.sbp-resp-cont {
	background-color: #fff;
}

.spb-product-row, .spb-order-row, .spb-home-row {
	margin-top: 40px;
}

.spb-product-row h1, .spb-order-row h1, .spb-home-row h1 {
	margin-top: 40px;
	margin-bottom: 30px;
}

@media all and (max-width: 767px) {
	.spb-product-row img {
		margin-bottom: 40px;
	}
}

/* bundles page */
.bundles-intro-row {
	padding-top: 40px;
}

.backtoindex-cont svg {
	display: inline-block;
	padding-bottom: 7px;
}

.backtoindex-cont h3 {
	display: inline-block;
}

/* pure harmony page */

.ph-intro-row a {
	color: #552801;
	font-weight: 900;
}

.ph-line {
	color: #552801;
}

/* ultra page */

.ultra-row {
	padding-top: 50px;
	padding-bottom: 50px;
}

#ultra h2 {
	padding-bottom: 20px;
}

#ultra {
	background-color: #fafafa;
}

.amp {
	font-weight: 300;
	font-size: 25px;
}


.nm-hubs-row {
	margin-top: 50px;
	margin-bottom: 50px;
}
@media all and (min-width: 768px) {
	.nm-hubs-row {
		margin-top: 100px;
		margin-bottom: 50px;
	}
}

#nmhubs {
	background-color: #fafafa;
}

.nmhubs-nyfw-row, .nmhubs-holiday-row {
	position: relative;
}

.nmhub-line-1 {
  position: absolute;
  top: 17%;
  z-index: 1;
  left: 44%;
}

p {
	font-size: 16px;
}

.nmhub-line-2 {
	position: absolute;
	top: 26%;
  z-index: 1;
  left: 46%;
}

.nmhub-line-3 {
  position: absolute;
  top: 40%;
  z-index: 1;
  left: 46.5%;
}

.nmhub-line-4 {
  position: absolute;
  top: 53%;
  z-index: 1;
  left: 46.5%;
}

.nmhub-line-5 {
  position: absolute;
  top: 64%;
  z-index: 1;
  left: 46.5%;
}

.nmhub-line-6 {
  position: absolute;
  top: 78%;
  z-index: 1;
  left: 46.5%;
}

.nmhub-line-7 {
  position: absolute;
  top: 90%;
  z-index: 1;
  left: 46.5%;
}

.nmhubs-nyfw-head .line {
	margin-bottom: 20px;
	border-color: #000;
}

.nmhubs-nyfw-head a {
	color: #000;
}

.nmhubs-nyfw-head a:hover {
	text-decoration: underline;
}

.nmhub2-line-1 {
	position: absolute;
  top: 9.5%;
  z-index: 1;
  left: 46%;
}

.nmhub2-line-2 {
	position: absolute;
  top: 15%;
  z-index: 1;
  left: 46%;
}

.nmhub2-line-3 {
  position: absolute;
  top: 24%;
  z-index: 1;
  left: 46.5%;
}

.nmhub2-line-4 {
	position: absolute;
  top: 33.5%;
  z-index: 1;
  left: 46.5%;
}

.nmhub2-line-5 {
  position: absolute;
  top: 45%;
  z-index: 1;
  left: 46.5%;
}

.nmhub2-line-6 {
  position: absolute;
  top: 57%;
  z-index: 1;
  left: 46.5%;
}

.nmhub2-line-7 {
	position: absolute;
  top: 64%;
  z-index: 1;
  left: 46.5%;
}

.nmhub2-line-8 {
	position: absolute;
  top: 72%;
  z-index: 1;
  left: 46.5%;
}

.nmhub2-line-9 {
	position: absolute;
  top: 82.5%;
  z-index: 1;
  left: 46.5%;
}

.nmhub2-line-10 {
	position: absolute;
  top: 90%;
  z-index: 1;
  left: 46.5%;
}

@media all and (min-width: 768px) {
	.nmhubs-holiday-row {
		margin-top: 200px;
	}
}

.bundles-ads-row img {
-webkit-box-shadow: 2px 2px 19px -2px rgba(0,0,0,0.24);
-moz-box-shadow: 2px 2px 19px -2px rgba(0,0,0,0.24);
box-shadow: 2px 2px 19px -2px rgba(0,0,0,0.24);
}

.bundles-ads-row-cont {
	margin-bottom: 30px;
	margin-top: 30px;
}

#nmhubs .visible-xs {
	margin-bottom: 35px;
}

.nmhubs-introrow {
	padding-top: 40px;
}

.nmhubs-introrow a {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

.nmblog-intro-row {
	padding-top: 35px;
}

.nmblog-intro-row a {
	color: #000;
	font-weight: 900;
}

.nmblog-intro-row .line {
	border-color: #000;
}

.nmblog-row {
	margin-top: 50px;
	margin-bottom: 40px;
}

.nmblog-row h2 {
	padding-bottom: 30px;
}

#nmblog {
	background-color: #fafafa;
}

@media all and (max-width: 767px) {
	.nmblog-cat {
		margin-bottom: 40px;
	}
}

.urbandecay-intro-row {
	padding-top: 30px;
}

.ud-row {
	margin-top: 100px;
}

.ud-proj-intro {
	padding-bottom: 35px;
}

.ud-row img {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ud-proj-intro a {
	color: #42146e;
	font-weight: 900;
}

.ud-proj-intro .line {
	border-color: #42146e;
}

.ph-header {
	background-image: url("../img/pureharmony/Pure_Harmony_header.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.ph-logo {
	padding-top: 15%;
	padding-bottom: 15%;
}

.ph-row {
	margin-top: 40px;
}

.ph-row h2 {
	padding-bottom: 15px;
}

.ph-row img {
	padding-top: 20px;
	padding-bottom: 20px;
}

#suitstables {
	background-color: #fafafa;
}

h4 {
	line-height: 22px;
}

.icons-intro-row {
	padding-top: 30px;
}

.icons-intro-row a {
		color: #383838;
		font-weight: 600;
}

.icons-intro-row a:hover {
	text-decoration: underline;
}

.spb-order-row {
	padding-top: 30px;
	padding-bottom: 35px;
}

.back-portpages {
	position: absolute;
	z-index: 3;
}

#bundles .back, #pureharmony .back, #sallybeauty .back, #angularicons .back {
	color: #000;
}

.about-p {
	position: absolute;
	font-size: 22px;
}

.resume-a {
	position: absolute;
	bottom: -45%;
	color: #fff;
}

.resume-a .mask {
	border-bottom: solid 1px #fff;
}

.about .title-wrapper {
	margin-top: 8%;
}

.about canvas {
	display: none;
}

.about-p span.mask {
	transition: all 0.3s ease-in;
	transition-delay: 0.15s;
}

.slider-content .about-p.fadeout span.mask {
	opacity: 1;
}

.slider-content .about-p.fadein span.mask {
	opacity: 0;
}

@media all and (min-width: 768px) {
	.mobile-home {
		display: none;
	}
}

@media all and (max-width: 767px) {
	.content-large {
		display: none;
	}
}

.m-intro {
	background: #ededed;
  background: -moz-linear-gradient(left, #ededed 49%, #ffcdd3 61%, #b88be0 77%, #5727f2 100%);
  background: -webkit-linear-gradient(left, #ededed 49%,#ffcdd3 61%,#b88be0 77%,#5727f2 100%);
  background: linear-gradient(to right, #ededed 49%,#ffcdd3 61%,#b88be0 77%,#5727f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#5727f2',GradientType=1 );
  text-align: center;
  height: 95vh;
  position: relative;
}

.intro-bgimage {
	background-image: url("img/devbg.jpg");
}

.m-brain-full {
	width: 90%;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  opacity: 0.1;
}

.intro-bgimage {
	padding-top: 100px;
	padding-bottom:100px;
}
.intro-text {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position:absolute;
  width: 100%;
}

.intro-text div {
	background-color: rgba(255, 255, 255, 0.13);
  border: solid 11px rgba(255, 255, 255, 0.78);
  padding: 0px 20px;
  color: #565656;
}

.intro-text h1 {
	font-size: 36px;
	margin-bottom: 0px;
}

.intro-text h3 {
	font-size: 14px;
	margin-top: 4px;
}

.mobile-dev {
	background-color: #d1d1d1;
	position: relative;
}

.mobile-dev h1 {
	margin: 0px;
	font-size: 50px;
	color: #fff;
	text-align: center;
}

.mobile-dev .m-web {
	padding-left: 17%;
}

.mobile-dev .m-dev {
	padding-right: 12%;
	margin-top: -15px;
}

.mobile-dev-inner {
	background-image: url("../img/devpg-bg2.jpg");
	background-size: 100% auto;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	position: absolute;
}

.mobile-dev-title {
	padding-top: 55px;
	padding-bottom: 55px;
	position: relative;
}

.mobile-dev h3 {
	font-size: 12px;
	text-align: center;
	padding-left: 22%;
}

.mobile-dev svg {
	width: 90px;
  height: auto;
  right: 0;
  opacity: 0.1;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.mobile-dev a {
	color: #000;
}

.mobile-design {
	position: relative;
  background: #f5f5f5;
  background: -moz-linear-gradient(left, #f5f5f5 0%, #ffe2e5 21%, #d2b5ef 49%, #9b7afb 100%);
  background: -webkit-linear-gradient(left, #f5f5f5 0%,#ffe2e5 21%,#d2b5ef 49%,#9b7afb 100%);
  background: linear-gradient(to right, #f5f5f5 0%,#ffe2e5 21%,#d2b5ef 49%,#9b7afb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#9b7afb',GradientType=1 );
}

.mobile-design-text {
	padding-top: 55px;
	padding-bottom: 55px;
	position: relative;
}

.mobile-design-text a {
	color: #fff;
}

.mobile-design-text h3 {
	text-align: center;
	padding-right: 26%;
	font-size: 12px;
}

.mobile-design h1 {
	font-size: 38px;
	color: #fff;
	margin:0;
	text-align: right;
	padding-right: 20%;
}

.mobile-design h1.m-digital {
	font-size: 22px;
}

.m-box1 {
  background-color: rgba(245, 109, 142, 0.4);
  width: 61%;
  height: 70%;
  position: absolute;
  left: 21%;
  top: 12%;
}

.m-box2 {
  background-color: rgba(242, 79, 156, 0.4);
  width: 28%;
  height: 11%;
  position: absolute;
  left: 11%;
  top: 17%;
}

.m-box3 {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  height: 19%;
  width: 20%;
  top: 72%;
  right: 11%;
}

.mobile-design svg {
	width: 90px;
  height: auto;
  left: 0;
  opacity: 0.1;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.mobile-about {
	background-color: #a798ae;
	position: relative;
}

.mobile-about-inner {
	 background-image: url('../img/mer-1.png');
	 background-size: 100% auto;
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 opacity: 0.4;
}

.mobile-about h1 {
	margin: 0px;
	font-size: 50px;
	color: #fff;
	text-align: right;
}

.mobile-about-text {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 16%;
	position: relative;
}

.mobile-about-text a {
	color: #fff;
	text-decoration: underline;
}

.mobile-about-text h3 {
	text-align: center;
	padding-right: 30%;
	font-size: 12px;
}

.mobile-about .m-about-me {
	margin-top: -10px;
}

.mobile-about-text p {
	font-size: 12px;
	color: #fff;
	padding-left: 10%;
}

@media all and (max-width: 767px) {
	#webdev .back-portpages, #design .back-portpages {
		position: relative;
	}
	#webdev .portlist-h1, #design .portlist-h1 {
		margin-top: 20px;
	}
	.back-portpages h3 {
		font-size: 17px;
	}
	.back-portpages svg {
		font-size: 31px;
	}
	#webdev .col-sm-4, #design .col-sm-4 {
		margin-top: 50px;
    margin-bottom: 100px;
	}
	#webdev .tilter--6 .tilter__caption {
		padding: 0 15em 15.5em 4em;
	}
	#webdev .tilter__title {
		font-size: 28px;
	}
	#design .smooth .row .tilter:nth-child(1) {
		margin-bottom: 30px;
	}
	#design .tilter__title {
		font-size: 28px;
	}
	#design .tilter__caption {
		padding-left: 45px;
    padding-bottom: 35px;
	}
	.sb-intro-cont {
		padding-bottom: 40px;
	}
	.sb-intro-text {
		background-color: #fff;
	}
	.sb-intro-text h4 {
		margin-top: 0px;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
